{
    border: dashed 1px blue;
    padding: 10px;
    margin: 50px;
}

body {

    background-color: #2A2A2A;
    text-align: center;
    font-family: "Goudy Old Style", Helvetica;

}

header {
    border: 3px yellow;
    background-color: #dddd;
    margin: 80px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;

}

footer {
    border: solid 3px #2A2A2A;
    background-color: #2A2A2A;
}

footer p a {
    color: lightyellow;
    font-size: 60%;
}

main {
    border-radius: 20px;
    border: solid 3px black;
    background-color: lightyellow;
    width: 80%;
    margin: auto;
}

main h1 {
    color: black;
}

main aside {
    border: solid 3px black;
    background-color: #dddd;
    text-align: center;
    margin: width %80;
    float: right;
    margin: 2%;
    margin-left: auto
}

header h1 {
    font-family: "Goudy Old Style", Helvetica;
    font-size: 65px;
    margin: 0px;


}

.marker {
    text-align: left;
}

li {
    text-align: left;
    list-style-position: inside;
}
